In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [17]:
dataset = pd.read_csv('sed.csv')

In [18]:
dataset.head()

,dt_year,dt_date,country,region,level_of_development,greenhousegas_emissione_mtco2equivalent,total_government_revenue_proportion_of_gdp_perc,fdi_inflows_millionusd,annual_growth_rate_perc,proportion_of_population_with_primary_reliance_on_clean_fuels_a,mortality_rate_perc,renewable_energy_share_on_the_total_energy_consumption,co2emissions_from_fuel_combustion_in_millions_of_tonnes,fossilfuel_subsidies_consumption_and_production_billionusd,randd_expenditure_proportionofgdp_perc,national_action_plans_as_priority_national_policies,number_of_companies_publishing_sustainability_reports,education_for_sustainable_development,enhance_policy_coherence_for_sustainable_development,land_degraded_over_total_land_area
0,2002,2002-01-01,Afghanistan,Central and Southern Asia,Least Developed,NaN,NaN,0.68,0.420344,8.0,NaN,37.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,2003-01-01,Afghanistan,Central and Southern Asia,Least Developed,NaN,0.120955,50.00,0.105249,9.0,NaN,36.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,2004-01-01,Afghanistan,Central and Southern Asia,Least Developed,NaN,0.176214,57.80,-0.014901,11.0,NaN,44.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,2005-01-01,Afghanistan,Central and Southern Asia,Least Developed,19.32802,0.180929,186.90,0.036212,12.0,0.409,33.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006,2006-01-01,Afghanistan,Central and Southern Asia,Least Developed,NaN,0.302234,271.00,0.053648,14.0,NaN,31.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dataset = pd.get_dummies(dataset, columns = ['region', 'level_of_development'], drop_first = True)

In [20]:
dataset.head()

,dt_year,dt_date,country,greenhousegas_emissione_mtco2equivalent,total_government_revenue_proportion_of_gdp_perc,fdi_inflows_millionusd,annual_growth_rate_perc,proportion_of_population_with_primary_reliance_on_clean_fuels_a,mortality_rate_perc,renewable_energy_share_on_the_total_energy_consumption,...,region_Europe and North America,region_Latin America and the Caribbean,region_North Africa and Western Asia,region_Oceania,region_Other,region_Sub-Saharan Africa,level_of_development_Developing Economies,level_of_development_Economies in Transition,level_of_development_Least Developed,level_of_development_Not Specified
0,2002,2002-01-01,Afghanistan,NaN,NaN,0.68,0.420344,8.0,NaN,37.83,...,0,0,0,0,0,0,0,0,1,0
1,2003,2003-01-01,Afghanistan,NaN,0.120955,50.00,0.105249,9.0,NaN,36.66,...,0,0,0,0,0,0,0,0,1,0
2,2004,2004-01-01,Afghanistan,NaN,0.176214,57.80,-0.014901,11.0,NaN,44.24,...,0,0,0,0,0,0,0,0,1,0
3,2005,2005-01-01,Afghanistan,19.32802,0.180929,186.90,0.036212,12.0,0.409,33.88,...,0,0,0,0,0,0,0,0,1,0
4,2006,2006-01-01,Afghanistan,NaN,0.302234,271.00,0.053648,14.0,NaN,31.89,...,0,0,0,0,0,0,0,0,1,0

In [21]:
for i in dataset['dt_date']:
    y = i.split("-")
    temp = int(y[0]+y[1]+y[2])
    dataset = dataset.replace(i,temp)

In [22]:
dataset.head()

,dt_year,dt_date,country,greenhousegas_emissione_mtco2equivalent,total_government_revenue_proportion_of_gdp_perc,fdi_inflows_millionusd,annual_growth_rate_perc,proportion_of_population_with_primary_reliance_on_clean_fuels_a,mortality_rate_perc,renewable_energy_share_on_the_total_energy_consumption,...,region_Europe and North America,region_Latin America and the Caribbean,region_North Africa and Western Asia,region_Oceania,region_Other,region_Sub-Saharan Africa,level_of_development_Developing Economies,level_of_development_Economies in Transition,level_of_development_Least Developed,level_of_development_Not Specified
0,2002,20020101,Afghanistan,NaN,NaN,0.68,0.420344,8.0,NaN,37.83,...,0,0,0,0,0,0,0,0,1,0
1,2003,20030101,Afghanistan,NaN,0.120955,50.00,0.105249,9.0,NaN,36.66,...,0,0,0,0,0,0,0,0,1,0
2,2004,20040101,Afghanistan,NaN,0.176214,57.80,-0.014901,11.0,NaN,44.24,...,0,0,0,0,0,0,0,0,1,0
3,2005,20050101,Afghanistan,19.32802,0.180929,186.90,0.036212,12.0,0.409,33.88,...,0,0,0,0,0,0,0,0,1,0
4,2006,20060101,Afghanistan,NaN,0.302234,271.00,0.053648,14.0,NaN,31.89,...,0,0,0,0,0,0,0,0,1,0

In [23]:
#to check which column contain what type of value
k = 0
count = 0
for i in dataset.columns:
    for j in dataset[i]:
        print(type(j))
        k += 1
        count += 1
        if k > 0:
            break
        
print(count)
print(len(dataset.columns))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
29
29

In [24]:
list1 = dataset.columns
print(len(list1))

29

In [26]:
#handling string column of the country
f = 0
dict1 = dict()
for i in dataset['country']:
    if i not in dict1:
        dict1[i] = f
        f += 1

In [27]:
dict1

{'Afghanistan': 0,
 'Åland Islands': 1,
 'Albania': 2,
 'Algeria': 3,
 'American Samoa': 4,
 'Andorra': 5,
 'Angola': 6,
 'Anguilla': 7,
 'Antarctica': 8,
 'Antigua and Barbuda': 9,
 'Areas not elsewhere specified': 10,
 'Argentina': 11,
 'Armenia': 12,
 'Aruba': 13,
 'Australia': 14,
 'Austria': 15,
 'Azerbaijan': 16,
 'Bahamas': 17,
 'Bahrain': 18,
 'Bangladesh': 19,
 'Barbados': 20,
 'Belarus': 21,
 'Belgium': 22,
 'Belize': 23,
 'Benin': 24,
 'Bermuda': 25,
 'Bhutan': 26,
 'Bolivia (Plurinational State of)': 27,
 'Bonaire, Sint Eustatius and Saba': 28,
 'Bosnia and Herzegovina': 29,
 'Botswana': 30,
 'Bouvet Island': 31,
 'Brazil': 32,
 'British Indian Ocean Territory': 33,
 'British Virgin Islands': 34,
 'Brunei Darussalam': 35,
 'Bulgaria': 36,
 'Burkina Faso': 37,
 'Burundi': 38,
 'Cabo Verde': 39,
 'Cambodia': 40,
 'Cameroon': 41,
 'Canada': 42,
 'Cayman Islands': 43,
 'Central African Republic': 44,
 'Chad': 45,
 'Chile': 46,
 'China': 47,
 'China, Hong Kong Special Administrative Region': 48,
 'China, Macao Special Administrative Region': 49,
 'Christmas Island': 50,
 'Cocos (Keeling) Islands': 51,
 'Colombia': 52,
 'Comoros': 53,
 'Congo': 54,
 'Cook Islands': 55,
 'Costa Rica': 56,
 "Côte d'Ivoire": 57,
 'Croatia': 58,
 'Cuba': 59,
 'Curaçao': 60,
 'Cyprus': 61,
 'Czechia': 62,
 "Democratic People's Republic of Korea": 63,
 'Democratic Republic of the Congo': 64,
 'Denmark': 65,
 'Djibouti': 66,
 'Dominica': 67,
 'Dominican Republic': 68,
 'Ecuador': 69,
 'Egypt': 70,
 'El Salvador': 71,
 'Equatorial Guinea': 72,
 'Eritrea': 73,
 'Estonia': 74,
 'Eswatini': 75,
 'Ethiopia': 76,
 'Falkland Islands (Malvinas)': 77,
 'Faroe Islands': 78,
 'Fiji': 79,
 'Finland': 80,
 'France': 81,
 'French Guiana': 82,
 'French Polynesia': 83,
 'French Southern Territories': 84,
 'Gabon': 85,
 'Gambia': 86,
 'Georgia': 87,
 'Germany': 88,
 'Ghana': 89,
 'Gibraltar': 90,
 'Greece': 91,
 'Greenland': 92,
 'Grenada': 93,
 'Guadeloupe': 94,
 'Guam': 95,
 'Guatemala': 96,
 'Guernsey': 97,
 'Guinea': 98,
 'Guinea-Bissau': 99,
 'Guyana': 100,
 'Haiti': 101,
 'Heard Island and McDonald Islands': 102,
 'Holy See': 103,
 'Honduras': 104,
 'Hungary': 105,
 'Iceland': 106,
 'India': 107,
 'Indonesia': 108,
 'Iran (Islamic Republic of)': 109,
 'Iraq': 110,
 'Ireland': 111,
 'Isle of Man': 112,
 'Israel': 113,
 'Italy': 114,
 'Jamaica': 115,
 'Japan': 116,
 'Jersey': 117,
 'Jordan': 118,
 'Kazakhstan': 119,
 'Kenya': 120,
 'Kiribati': 121,
 'Kosovo': 122,
 'Kuwait': 123,
 'Kyrgyzstan': 124,
 "Lao People's Democratic Republic": 125,
 'Latvia': 126,
 'Lebanon': 127,
 'Lesotho': 128,
 'Liberia': 129,
 'Libya': 130,
 'Liechtenstein': 131,
 'Lithuania': 132,
 'Luxembourg': 133,
 'Madagascar': 134,
 'Malawi': 135,
 'Malaysia': 136,
 'Maldives': 137,
 'Mali': 138,
 'Malta': 139,
 'Marshall Islands': 140,
 'Martinique': 141,
 'Mauritania': 142,
 'Mauritius': 143,
 'Mayotte': 144,
 'Mexico': 145,
 'Micronesia (Federated States of)': 146,
 'Monaco': 147,
 'Mongolia': 148,
 'Montenegro': 149,
 'Montserrat': 150,
 'Morocco': 151,
 'Mozambique': 152,
 'Myanmar': 153,
 'Namibia': 154,
 'Nauru': 155,
 'Nepal': 156,
 'Netherlands': 157,
 'Netherlands Antilles': 158,
 'New Caledonia': 159,
 'New Zealand': 160,
 'Nicaragua': 161,
 'Niger': 162,
 'Nigeria': 163,
 'Niue': 164,
 'Norfolk Island': 165,
 'Northern Mariana Islands': 166,
 'North Macedonia': 167,
 'Norway': 168,
 'Oman': 169,
 'Other non-specified areas in Eastern Asia': 170,
 'Pakistan': 171,
 'Palau': 172,
 'Panama': 173,
 'Papua New Guinea': 174,
 'Paraguay': 175,
 'Peru': 176,
 'Philippines': 177,
 'Pitcairn': 178,
 'Poland': 179,
 'Portugal': 180,
 'Puerto Rico': 181,
 'Qatar': 182,
 'Republic of Korea': 183,
 'Republic of Moldova': 184,
 'Réunion': 185,
 'Romania': 186,
 'Russian Federation': 187,
 'Rwanda': 188,
 'Saint Barthélemy': 189,
 'Saint Helena': 190,
 'Saint Kitts and Nevis': 191,
 'Saint Lucia': 192,
 'Saint Martin (French Part)': 193,
 'Saint Pierre and Miquelon': 194,
 'Saint Vincent and the Grenadines': 195,
 'Samoa': 196,
 'San Marino': 197,
 'Sao Tome and Principe': 198,
 'Sark': 199,
 'Saudi Arabia': 200,
 'Senegal': 201,
 'Serbia': 202,
 'Serbia and Montenegro [former]': 203,
 'Seychelles': 204,
 'Sierra Leone': 205,
 'Singapore': 206,
 'Sint Maarten (Dutch part)': 207,
 'Slovakia': 208,
 'Slovenia': 209,
 'Solomon Islands': 210,
 'Somalia': 211,
 'South Africa': 212,
 'South Georgia and the South Sandwich Islands': 213,
 'South Sudan': 214,
 'Spain': 215,
 'Sri Lanka': 216,
 'State of Palestine': 217,
 'Sudan': 218,
 'Sudan [former]': 219,
 'Suriname': 220,
 'Svalbard and Jan Mayen Islands': 221,
 'Sweden': 222,
 'Switzerland': 223,
 'Syrian Arab Republic': 224,
 'Tajikistan': 225,
 'Thailand': 226,
 'Timor-Leste': 227,
 'Togo': 228,
 'Tokelau': 229,
 'Tonga': 230,
 'Trinidad and Tobago': 231,
 'Tunisia': 232,
 'Türkiye': 233,
 'Turkmenistan': 234,
 'Turks and Caicos Islands': 235,
 'Tuvalu': 236,
 'Uganda': 237,
 'Ukraine': 238,
 'United Arab Emirates': 239,
 'United Kingdom (England and Wales)': 240,
 'United Kingdom (Northern Ireland)': 241,
 'United Kingdom of Great Britain and Northern Ireland': 242,
 'United Kingdom (Scotland)': 243,
 'United Republic of Tanzania': 244,
 'United States Minor Outlying Islands': 245,
 'United States of America': 246,
 'United States Virgin Islands': 247,
 'Uruguay': 248,
 'Uzbekistan': 249,
 'Vanuatu': 250,
 'Venezuela (Bolivarian Republic of)': 251,
 'Viet Nam': 252,
 'Wallis and Futuna Islands': 253,
 'Western Sahara': 254,
 'Yemen': 255,
 'Yugoslavia [former]': 256,
 'Zambia': 257,
 'Zimbabwe': 258}

In [29]:
for i in dataset['country']:
    dataset = dataset.replace(i,dict1[i])

In [30]:
dataset.head()

,dt_year,dt_date,country,greenhousegas_emissione_mtco2equivalent,total_government_revenue_proportion_of_gdp_perc,fdi_inflows_millionusd,annual_growth_rate_perc,proportion_of_population_with_primary_reliance_on_clean_fuels_a,mortality_rate_perc,renewable_energy_share_on_the_total_energy_consumption,...,region_Europe and North America,region_Latin America and the Caribbean,region_North Africa and Western Asia,region_Oceania,region_Other,region_Sub-Saharan Africa,level_of_development_Developing Economies,level_of_development_Economies in Transition,level_of_development_Least Developed,level_of_development_Not Specified
0,2002,20020101,0,2011.493045,2011.493045,0.68,0.420344,8.0,2011.493045,37.83,...,0,0,0,0,0,0,0,0,1,0
1,2003,20030101,0,2011.493045,0.120955,50.00,0.105249,9.0,2011.493045,36.66,...,0,0,0,0,0,0,0,0,1,0
2,2004,20040101,0,2011.493045,0.176214,57.80,-0.014901,11.0,2011.493045,44.24,...,0,0,0,0,0,0,0,0,1,0
3,2005,20050101,0,19.328020,0.180929,186.90,0.036212,12.0,0.409000,33.88,...,0,0,0,0,0,0,0,0,1,0
4,2006,20060101,0,2011.493045,0.302234,271.00,0.053648,14.0,2011.493045,31.89,...,0,0,0,0,0,0,0,0,1,0

In [31]:
dataset.isnull().sum()

dt_year                                                            0
dt_date                                                            0
country                                                            0
greenhousegas_emissione_mtco2equivalent                            0
total_government_revenue_proportion_of_gdp_perc                    0
fdi_inflows_millionusd                                             0
annual_growth_rate_perc                                            0
proportion_of_population_with_primary_reliance_on_clean_fuels_a    0
mortality_rate_perc                                                0
renewable_energy_share_on_the_total_energy_consumption             0
co2emissions_from_fuel_combustion_in_millions_of_tonnes            0
fossilfuel_subsidies_consumption_and_production_billionusd         0
randd_expenditure_proportionofgdp_perc                             0
national_action_plans_as_priority_national_policies                0
number_of_companies_publishing_sustainability_reports              0
education_for_sustainable_development                              0
enhance_policy_coherence_for_sustainable_development               0
land_degraded_over_total_land_area                                 0
region_Eastern and South Eastern Asia                              0
region_Europe and North America                                    0
region_Latin America and the Caribbean                             0
region_North Africa and Western Asia                               0
region_Oceania                                                     0
region_Other                                                       0
region_Sub-Saharan Africa                                          0
level_of_development_Developing Economies                          0
level_of_development_Economies in Transition                       0
level_of_development_Least Developed                               0
level_of_development_Not Specified                                 0
dtype: int64